/*
Colors Used:
blue:#11698E
Green: #008891
*/
body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}
h3 {
  font-size: 1.5em
  font-weight: 700;
}
img {
  width: 100%
}
a {
  color: #11698E;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #11698E;
}
a:hover,
a:focus {
  color: #08353F;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #0495BC;
}
